.alert-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}
.alert-container-visible {
  display: block;
}
.alert-content {
  width: 400px;
  margin: 200px auto;
  background: white;
  min-height: 400px;
  padding: 40px;
}
